.Item{
    background-color: white;
    color: black;
    border-radius: 12px;
}

.containerImage {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image{
    aspect-ratio: 1;
    max-height: 200px;
    object-fit: contain;
}

.image:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.image:not(hover){
    transform: scale(1);
    transition: 0.5s;
}

.name{
    font-family: "Honk", system-ui;
    font-size: 2rem !important;
}
