/* Digidex.module.css */

.btnView {
    padding: 8px 20px;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.inactive {
    background-color: black;
    color: white;
}

.label{
    font-weight: bold;
    color: white;
}

.noFound{
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.search{
    background-color: white;
    color: black;
    font-weight: bold;
}