.buttonLogin {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid black;
    font-weight: bold;
}

.buttonLogin:hover {
    color: black !important;
    background-color: orange !important;
    border: 1px solid orange;
}