.navBar {
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*!* Rule added because of update to reactstrap 9.x *!*/
.navbarContainer {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 70px;
    transition: all .2s;
    margin-right: 20px;
}

.logo:hover {
    transform: scale(1.1);
}

.navItem{
    text-decoration: none;
}

.navItem a {
    color: white !important;
    font-weight: bold;
    transition: all .2s;
}

.navItem a:hover {
    color: white !important;
    text-decoration: none;
    transform: scale(1.1);
}

.toggleButton{
    color: white !important;
    background-color: white !important;
}
