.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 20dvh; /* Occupa almeno tutto lo schermo */
}

.footer{
    width: 100%;
    background-color: black;
    flex-shrink: 0;
    color: white;
    margin-top: auto;
}

.navItem{
    list-style: none;
}

.navItem a {
    color: white !important;
    font-weight: bold;
    transition: all .2s;
}

.navItem a:hover {
    color: white !important;
    text-decoration: none;
    transform: scale(1.1);
}
