.containerImage {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}