.containerImage {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImage {
    height: 70%;
    min-height: 200px;
}

.cardImage:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.cardImage:not(hover){
    transform: scale(1);
    transition: 0.5s;
}

.Card {
    border-radius: 22px;
    background-color: white;
}

.name{
    font-family: "Honk", system-ui;
    font-size: 2rem !important;
}
