@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  color: #515056;
  font-family: "Roboto", sans-serif;
  background-color: #242424;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #dd092f;
}


a:hover {
  text-decoration: none;
  color: #f70931;
}

.button {
  border: 2px solid #dd092f;
  color: #dd092f;
  text-transform: uppercase;
  padding: 6px 16px;
  font-weight: 700;
  transition: all .2s
}

.button:hover {
  color: white;
  background: #dd092f;
}

h1 {
  line-height: 1.1;
  font-size: 50px;
  font-weight: 500;
  color:#757575;
}