@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

html{
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to bottom, black, transparent), url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

.button {
  border: 2px solid #dd092f;
  color: #dd092f;
  text-transform: uppercase;
  padding: 6px 16px;
  font-weight: 700;
  transition: all .2s
}

.button:hover {
  color: white;
  background: orange;
}

h1 {
  line-height: 1.1;
  font-size: 50px;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}