.container{
    background-color: white;
    border-radius: 1000px;
}

.image{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-width: 40px;
}

.name{
    font-weight: bold;
    color: white;
}

.avatarCircle{
    border-radius: 50%;
    height: 30px;
    background-color: white;
    aspect-ratio: 1 / 1;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}